<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PixelArt 2-Step Verification</title>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400', rel='stylesheet', type='text/css'>
</head>
<body>
    <div class="center">
        <img src="static/img/tsv.png" class ="logo"></img>
        <div class="form">
            <h4 style="margin-top: 0px;">Enter Your Pin Below</h4>
            <input type="text" id="pin" class="input code"/><br/><a class="submit check-button">Check</a>
            <div class ="privacy-policy">
                <p><input class="check-box" type="checkbox">I agree to the <a href="/privacy" class="link">Privacy Policy</a>.</p>
            </div>
            <div class="results"></div>
        </div>
    </div>
    <script src="static/js/main.js"></script>
</body>
</html>
