<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PixelArt 2-Step Verification</title>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400', rel='stylesheet', type='text/css'>
</head>
<body>
    <div class="center">
        <img src="../static/img/tsv.png" class = "logo-small"></img>
        <br><br>
        <div style="font-size: 15px">
            <h1><strong>Privacy Policy</strong></h1>
            <p>By clicking "check" you agree to the following Privacy Policy:</p>
            <p>We collect the following piece of personal information:</p>
            <p><strong>Your IP address.</strong></p>
            <p>Said information is solely used to protect our server against malicious users.</p>
            <p>We <strong>DO NOT</strong> store your personal information anywhere.</p>
            <p>We will <strong>NEVER</strong> share your personal information with anyone.</p>
            <p>To ensure that the above is indeed the case, feel free to visit our open-source repository at <a>https://github.com/10c8/pixelbot</a> to confirm that no permanent storage of your IP or sharing thereof takes place. </p>
            <p>The sole purpose of this procedure is to ensure the welcoming, friendly atmosphere of the Discord Community.</p>
        </div>
    </div>
</body>
</html>
